/* Убираем отступы, границы и фоновые цвета */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Позволяет элементам учитывать ширину и высоту в границах */
}

/* Сброс для всех типов элементов */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
u,
var,
b,
u,
i,
center {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    /* Наследуем шрифт */
    font-size: 100%;
    /* Стандартный размер шрифта */
    vertical-align: baseline;
    /* Базовая выравнивание для inline-элементов */
}

/* Убираем стандартные стили для ссылок */
a {
    text-decoration: none;
    /* Убирает подчеркивание ссылок */
    color: inherit;
    /* Позволяет ссылкам наследовать цвет текста родителя */
}

/* Убираем стандартное отображение для списков */
ul,
ol {
    list-style: none;
    /* Убирает маркеры списков */
}

/* Убираем стили для формы и кнопок */
button {
    border: none;
    /* Убирает стандартную рамку кнопок */
    background: none;
    /* Убирает фоновый цвет кнопок */
    cursor: pointer;
    /* Изменяет курсор при наведении на кнопку */
}

/* Сброс для изображений */
img {
    max-width: 100%;
    /* Делаем изображения адаптивными */
    height: auto;
    /* Поддержка автоматического изменения высоты */
}

/* Устанавливаем стиль для таблиц */
table {
    border-collapse: collapse;
    /* Убирает двойные границы в таблицах */
    width: 100%;
    /* Устанавливает ширину таблицы на 100% */
}

/* Убираем прирост по умолчанию для полей ввода */
input,
textarea {
    font-family: inherit;
    /* Наследуем шрифт у родителя */
    font-size: inherit;
    /* Наследуем размер шрифта */
    line-height: inherit;
    /* Наследуем высоту строки */
}